<h1>User List</h1>

<table>
  <thead>
  <tr>
    <td>id</td>
    <td>email</td>
    <td>genre</td>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.genre %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @users %>